@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Default dark mode */
:root {
  --background-dark: rgb(28, 28, 28);
  --text-color: rgb(255, 255, 255);
}

/* Light mode */
html.light  {
  --background-gradient: linear-gradient(141deg, rgba(131,22,122,1) 29%, rgba(1,14,126,1) 76%);
}

body {
  background: var(--background-dark);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease; /* Smooth transition */
  font-family: "Inter", sans-serif;
}

html.light body {
  background: var(--background-gradient);
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply font-inter; /* Apply custom font family */
  }
  h1{
    @apply text-5xl sm:text-6xl lg-mobile:text-6xl md:text-6xl lg:text-7xl font-extrabold;
  }
  h2{
    @apply text-3xl sm:text-5xl lg-mobile:text-5xl md:text-5xl lg:text-5xl font-extrabold;
  }
  h3 {
    @apply text-2xl sm:text-4xl lg-mobile:text-4xl md:text-4xl lg:text-4xl font-extrabold;
  }
  h4 {
    @apply text-lg sm:text-3xl lg-mobile:text-3xl md:text-3xl lg:text-3xl font-extrabold;
  }
  p{
    @apply text-base sm:text-lg lg-mobile:text-lg md:text-lg lg:text-xl;
  }
}

@layer components {
  .custom-button {
    @apply flex-1 px-4 py-4 text-base font-semibold rounded-md transition-colors duration-300 ease-in-out w-40;
    @apply w-full sm:w-40;
  }
  .custom-nav {
    @apply p-4 font-semibold text-xl transition-colors duration-300 ease-in-out;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up-1 {
  animation: fadeInUp 3s forwards;
  animation-delay: 0.2s; /* Delay for 1st line */
  opacity: 0; /* Ensures hidden at start*/
}

.fade-in-up-2 {
  animation: fadeInUp 3s forwards;
  animation-delay: 0.4s; /* Delay for 2nd line */
  opacity: 0; /* Ensures hidden at start*/
}

.fade-in-up-3 {
  animation: fadeInUp 3s forwards;
  animation-delay: 0.6s; /* Delay for 2nd line */
  opacity: 0; /* Ensures hidden at start*/
}

.fade-in {
  @apply opacity-0 transition-opacity duration-1000; /* Initial state for fade-in */
}

.fade-in-active {
  @apply opacity-100; /* Final state for fade-in */
}
