@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default dark mode */
:root {
  --background-dark: rgb(28, 28, 28);
  --text-color: rgb(255, 255, 255);
}

/* Light mode */
html.light  {
  --background-gradient: linear-gradient(141deg, rgba(131,22,122,1) 29%, rgba(1,14,126,1) 76%);
}

html.light body {
  background: var(--background-gradient);
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* font styling */
@font-face {
  font-family: 'Inter';
  src: url('/font/Inter/Inter-Regular.woff2') format('woff2'),
       url('/font/Inter/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/font/Inter/Inter-Italic.woff2') format('woff2'),
       url('/font/Inter/Inter-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


@layer base {
  body {
    background: var(--background-dark);
    color: var(--text-color);
    transition: background 0.3s ease, color 0.3s ease; /* Smooth transition */
    font-family: "Inter", sans-serif; /* Custom font family */
    font-weight: 500;
    @apply font-inter antialiased; /* Apply Tailwind's font and antialiasing */
    -webkit-font-smoothing: antialiased; /* Improve font smoothing on iOS Safari */
    -moz-osx-font-smoothing: grayscale; /* Improve font smoothing on macOS Safari */
  }
  h1{
    @apply text-5xl sm:text-6xl lg-mobile:text-6xl md:text-7xl lg:text-7xl font-extrabold antialiased;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
  }
  h2{
    @apply text-4xl sm:text-4xl lg-mobile:text-4xl md:text-5xl lg:text-6xl font-extrabold antialiased;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
  }
  h3 {
    @apply text-3xl sm:text-4xl lg-mobile:text-4xl md:text-5xl lg:text-5xl font-extrabold antialiased;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
  }
  h4 {
    @apply text-xl sm:text-4xl lg-mobile:text-4xl md:text-4xl lg:text-4xl font-extrabold antialiased;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
  }
  p{
    @apply text-lg sm:text-lg lg-mobile:text-lg md:text-lg lg:text-xl antialiased;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  .custom-button {
    @apply flex-1 px-4 py-4 text-base font-semibold rounded-md transition-colors duration-300 ease-in-out w-40;
    @apply w-full sm:w-40;
  }
  .custom-nav {
    @apply p-4 font-semibold text-xl transition-colors duration-300 ease-in-out;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up-1 {
  animation: fadeInUp 3s forwards;
  animation-delay: 0.2s; /* Delay for 1st line */
  opacity: 0; /* Ensures hidden at start*/
}

.fade-in-up-2 {
  animation: fadeInUp 3s forwards;
  animation-delay: 0.4s; /* Delay for 2nd line */
  opacity: 0; /* Ensures hidden at start*/
}

.fade-in-up-3 {
  animation: fadeInUp 3s forwards;
  animation-delay: 0.6s; /* Delay for 2nd line */
  opacity: 0; /* Ensures hidden at start*/
}

.fade-in {
  @apply opacity-0 transition-opacity duration-1000; /* Initial state for fade-in */
}

.fade-in-active {
  @apply opacity-100; /* Final state for fade-in */
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-touch-callout: none) {
    .safari-text-outline-white {
      color: white;
      -webkit-text-stroke: 1px white;
    }
    .safari-text-outline-purple-400 {
      color: #ab47bc;
      -webkit-text-stroke: 1px #ab47bc;
    }
    .safari-text-outline-purple-500 {
      color: #9c27b0;
      -webkit-text-stroke: 1px #9c27b0;
    }
    .safari-text-outline-purple-700 {
      color: #7b1fa2;
      -webkit-text-stroke: 1px #7b1fa2;
    }
    .safari-text-outline-gray-300 {
      color: #e2e8f0;
      -webkit-text-stroke: 1px #e2e8f0;
    }
    .safari-text-outline-gray-400 {
      color: #cbd5e0;
      -webkit-text-stroke: 1px #cbd5e0;
    }
    .safari-text-outline-gray-600 {
      color: #718096;
      -webkit-text-stroke: 1px #718096;
    }
    .safari-text-outline-gray-700 {
      color: #4a5568;
      -webkit-text-stroke: 1px #4a5568;
    }
    .safari-text-outline-green-600 {
      color: #43a047;
      -webkit-text-stroke: 1px #43a047;
    }
  }
}
